.profileBlock {
    padding-top: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
    align-items: center;
}

.profileBlock .profilePicture {
    /* display: block; */
    border-radius: 50%;
    width: 150px;
    background-color: grey;
    margin-bottom: 25px;
}